<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440175425070-m8ucslvoq2ofda00i34ebbhumuvtkm76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440175425070-m8ucslvoq2ofda00i34ebbhumuvtkm76</string>
	<key>API_KEY</key>
	<string>AIzaSyCA6TCTfWRwzxa-zk2wp4xleK8AtaRChQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>440175425070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>likhayakulati.co.za.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d7ae0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d7ae0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440175425070:ios:2743c7be179f5f6b4251bf</string>
</dict>
</plist>